html,body{
height:100%;
margin:0;
}

/* WAJIB ADA */
#map{
height:100vh;
width:100%;
z-index:1;
}

/* PANEL */
.topbar{
position:absolute;
top:15px;
left:15px;
z-index:9999; /* HARUS LEBIH BESAR DARI LEAFLET */
background:#fff;
padding:10px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.3);
display:flex;
gap:8px;
}
