html, body{
  margin:0;
  height:100%;
  font-family:sans-serif;
}

#map{
  height:100%;
}

.control-panel{
  position:absolute;
  top:15px;
  left:50%;
  transform:translateX(-50%);
  z-index:1000;

  background:#ffffff;
  padding:12px 16px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
  text-align:center;
}

.tahun-control{
  margin:8px 0;
}

#tahunSlider{
  width:220px;
}

.info-box{
  position:absolute;
  bottom:20px;
  left:20px;
  z-index:1000;

  background:white;
  padding:12px 16px;
  border-radius:10px;

  box-shadow:0 3px 8px rgba(0,0,0,0.3);
  font-size:14px;
}
