html,body{
height:100%;
margin:0;
font-family:Segoe UI;
}

#map{
height:100vh;
width:100%;
}

.topbar{
position:absolute;
top:15px;
left:15px;
z-index:9999;
background:white;
padding:14px;
border-radius:14px;
box-shadow:0 4px 12px rgba(0,0,0,0.25);
width:420px;
max-width:95%;
}

.filter-row{
display:grid;
grid-template-columns:120px 1fr 1fr;
gap:8px;
margin-bottom:10px;
}

select{
padding:6px;
border-radius:6px;
border:1px solid #ccc;
width:100%;
}

.tahun-nav{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
font-weight:bold;
font-size:18px;
margin-bottom:6px;
}

.tahun-nav button{
border:1px solid #ccc;
background:white;
border-radius:6px;
padding:4px 10px;
cursor:pointer;
}

#tahun{
width:100%;
}

@media(max-width:768px){
.filter-row{
grid-template-columns:1fr;
}
.topbar{
left:10px;
right:10px;
width:auto;
}
}
