html,body{height:100%;margin:0;font-family:Segoe UI;}
#map{height:100vh;}

.topbar{
position:absolute;top:15px;left:15px;z-index:1000;
background:white;padding:12px;border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.25);
width:340px;
}

.filter-row{display:flex;gap:8px;}
select{flex:1;padding:6px;border-radius:6px;border:1px solid #ccc;}

.slider-row{margin-top:6px;}

.info-program{
position:absolute;bottom:20px;left:15px;
background:white;padding:14px;border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.25);
}

.legend{
position:absolute;bottom:20px;right:15px;
background:white;padding:12px;border-radius:12px;
}

.statistik{
position:absolute;top:100px;right:15px;
background:white;padding:12px;border-radius:12px;
}

.leaflet-top.leaflet-left{top:120px;}
