html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

/* POPUP BIAR RAPI */
.leaflet-popup-content {
  font-size: 14px;
  line-height: 1.4;
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
  .leaflet-popup-content {
    font-size: 12px;
  }
}
