html,body{
height:100%;
margin:0;
font-family:Segoe UI;
}

#map{
height:100vh;
}

/* PANEL */
.topbar{
position:absolute;
top:15px;
left:15px;
z-index:1000;
background:#fff;
padding:14px;
border-radius:14px;
box-shadow:0 4px 12px rgba(0,0,0,0.25);
width:420px;
max-width:95%;
}

/* DROPDOWN */
.filter-row{
display:grid;
grid-template-columns:120px 130px 1fr;
gap:8px;
}

select{
width:100%;
padding:6px;
border-radius:6px;
border:1px solid #ccc;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

/* SLIDER AREA */
.slider-row{
display:flex;
align-items:center;
gap:10px;
margin-top:10px;
}

/* TOMBOL PANAH */
.navTahun{
background:#fff;
border:1px solid #ccc;
border-radius:8px;
width:34px;
height:34px;
cursor:pointer;
font-weight:bold;
font-size:16px;
}

.navTahun:disabled{
opacity:0.3;
cursor:not-allowed;
}

/* CONTAINER TAHUN */
.tahun-container{
flex:1;
text-align:center;
}

#labelTahun{
font-weight:bold;
font-size:18px;
margin-bottom:4px;
}

#tahun{
width:100%;
}

/* MOBILE */
@media(max-width:768px){

.filter-row{
grid-template-columns:1fr;
}

.topbar{
left:10px;
right:10px;
width:auto;
}

}
