html, body{
  height:100%;
  margin:0;
  font-family:"Segoe UI", sans-serif;
}

#map{
  height:100vh;
  width:100%;
}

.topbar{
  position:absolute;
  top:15px;
  left:60px;
  z-index:1000;
  background:rgba(255,255,255,0.95);
  padding:10px 14px;
  border-radius:8px;
  box-shadow:0 3px 10px rgba(0,0,0,0.25);
  display:flex;
  gap:8px;
  flex-wrap:wrap;
}

.topbar select{
  padding:6px 10px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:13px;
}

.slider-container{
  display:flex;
  flex-direction:column;
  font-size:12px;
  font-weight:600;
}

#tahun{
  width:140px;
}
