html, body{
  height:100%;
  margin:0;
  font-family:"Segoe UI", sans-serif;
}

#map{
  height:100vh;
  width:100%;
}

.topbar{
  position:absolute;
  top:15px;
  left:60px;
  z-index:1000;

  background:rgba(255,255,255,0.95);
  padding:10px 14px;
  border-radius:8px;

  box-shadow:0 3px 10px rgba(0,0,0,0.25);

  display:flex;
  gap:8px;
  flex-wrap:wrap;
  backdrop-filter:blur(4px);
}

.topbar select{
  padding:6px 10px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:13px;
  cursor:pointer;
  max-width:160px;
}

.slider-container{
  display:flex;
  flex-direction:column;
  font-size:12px;
  font-weight:600;
}

#tahun{
  width:140px;
}

.leaflet-popup-content{
  font-size:13px;
  line-height:1.5;
}

.leaflet-tooltip{
  background:transparent;
  border:none;
  box-shadow:none;
  font-weight:bold;
  font-size:12px;
}

.leaflet-tooltip:before{
  display:none;
}

@media (max-width:768px){

  .topbar{
    left:10px;
    top:10px;
    padding:6px 8px;
  }

  .topbar select{
    font-size:11px;
    padding:4px 6px;
    max-width:130px;
  }

  #tahun{
    width:120px;
  }
}
