html,body{
height:100%;
margin:0;
font-family:Segoe UI,sans-serif;
}

#map{height:100vh;}

.topbar{
position:absolute;
top:15px;
left:15px;
z-index:1000;
background:white;
padding:10px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.filter-row{
display:flex;
gap:8px;
}

select{
padding:6px;
border-radius:6px;
border:1px solid #ccc;
}

.slider-row{
margin-top:5px;
display:flex;
flex-direction:column;
}

#tahun{width:100%;height:4px;}

.logo-box{
position:absolute;
top:15px;
right:15px;
z-index:1000;
background:white;
padding:6px 10px;
border-radius:10px;
display:flex;
align-items:center;
gap:8px;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.logo-box img{height:34px;}

.info-program{
position:absolute;
bottom:20px;
left:15px;
z-index:1000;

background:rgba(255,255,255,0.95);
padding:14px 16px;

border-radius:12px;
box-shadow:0 4px 14px rgba(0,0,0,0.25);

max-width:320px;
font-size:13px;
line-height:1.6;

border-left:6px solid #2c7be5;
}

.info-program b{
font-size:14px;
color:#2c7be5;
}

.leaflet-top.leaflet-left{top:100px;}

@media(max-width:768px){
.filter-row{flex-direction:column;}
.topbar{left:10px;right:10px;}
.info-program{left:10px;right:10px;bottom:10px;max-width:100%;}
}
