html, body{
  height:100%;
  margin:0;
}

#map{
  height:100vh;
}

.topbar{
  position:absolute;
  top:10px;
  left:50px;
  z-index:1000;
  background:white;
  padding:8px 12px;
  border-radius:6px;
  box-shadow:0 2px 6px rgba(0,0,0,0.3);
}
