html, body{
  height:100%;
  margin:0;
  font-family:Segoe UI, sans-serif;
}

#map{
  height:100vh;
}

/* PANEL */
.topbar{
  position:absolute;
  top:15px;
  left:15px;
  z-index:1000;

  width:auto;
  max-width:680px;

  background:rgba(255,255,255,0.95);
  padding:10px 12px;
  border-radius:14px;

  display:flex;
  flex-direction:column;
  gap:8px;

  box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.filter-row{
  display:flex;
  gap:8px;
}

.filter-row select{
  padding:6px 8px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:13px;
  min-width:150px;
}

.slider-row{
  display:flex;
  flex-direction:column;
}

#tahun{
  width:100%;
  height:4px;
}

/* LOGO */
.logo-box{
  position:absolute;
  top:15px;
  right:15px;
  z-index:1000;

  display:flex;
  align-items:center;
  gap:8px;

  background:white;
  padding:6px 10px;
  border-radius:10px;

  box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

.logo-box img{
  height:34px;
}

.logo-text{
  font-size:12px;
}

/* ZOOM */
.leaflet-top.leaflet-left{
  top:100px;
}

/* MOBILE */
@media (max-width:768px){

  .topbar{
    left:10px;
    right:10px;
    max-width:100%;
  }

  .filter-row{
    flex-direction:column;
  }

}
