html, body{
  height:100%;
  margin:0;
  font-family:"Segoe UI", sans-serif;
}

#map{
  height:100vh;
  width:100%;
}

/* TOPBAR */
.topbar{
  position:absolute;
  top:15px;
  left:60px;
  z-index:1000;

  background:rgba(255,255,255,0.95);
  padding:10px 14px;
  border-radius:8px;

  box-shadow:0 3px 10px rgba(0,0,0,0.25);

  display:flex;
  gap:8px;
  flex-wrap:wrap;
}

.topbar select{
  padding:6px 10px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:13px;
}

.slider-container{
  display:flex;
  flex-direction:column;
  font-size:12px;
  font-weight:600;
}

#tahun{
  width:140px;
}

/* INFO PROGRAM */
.info-program{
  position:absolute;
  bottom:20px;
  left:60px;
  z-index:1000;

  background:rgba(255,255,255,0.95);
  padding:12px 14px;
  border-radius:8px;

  box-shadow:0 3px 10px rgba(0,0,0,0.25);

  font-size:13px;
  max-width:260px;
  line-height:1.5;
}

/* MOBILE */
@media (max-width:768px){

  .topbar{
    left:10px;
    top:10px;
    padding:6px 8px;
  }

  .info-program{
    left:10px;
    bottom:15px;
    max-width:220px;
    font-size:12px;
  }

  #tahun{
    width:120px;
  }
}
